body {
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/huDiDyr.jpg");
    background-size: auto;
    background-position: center;/*centre le fond d'écran*/
    background-repeat: repeat;/*répéte le fond d'écran à la suite*/
    margin: 0;
    margin-top: 0;
}

div.menu {
    float: left;/*place le menu à gauche*/
    height: 25%;
    width: 10%;
    background-color: rgba(253, 253, 253, 0.164);
    text-align: center;
    font-size: xx-large;
    position: fixed;
    border: 5px;/*mais des bordure 5px*/
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;/*ombre bordure*/
}

.logo {
    width: 125px;
}

.drapeau {
    width: 100px;
}

.zoomdrapeau {
    height: 50px;
}

.zoomdrapeau img:hover {
    width: 110px;
}

.zoomlogo {
    height: 90px;
    margin: auto;
}

.zoomlogo img:hover {
    width: 130px;
}

.zoomequipe {
    height: 325px;
    margin: auto;
}

.zoomequipe img:hover {
    width: 140px;
    height: 140px;
}

.lecv {
    height: 130%;
    width: 50%;
    background-color: white;
    top: 5%;/*5% à partir du haut*/
    left: 30%;
    position: relative;/*positionne
    font-size: 16px;
    font-family: 'Source sans Pro', Tahoma, sans-serif;
    padding: 40px;
    border: 5px;
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
}

.section {
    margin-bottom: 70px;/*marge du bas*/
    text-align: justify;
}

.sec-gauche {
    float: left;
    font-weight: bold;/*police d'écriture en gras*/
    font-size: 20px;/*taille de l'écriture*/
}

.sec-mid {
    margin-left: 90px;/*marge gauche*/
}

.sec-droite {
    margin-left: 160px;
    margin-top: 37px;/*marge du haut*/
}

strong {
    font-size: 26px;
}

h2 {
    font-size: 28px;
    color: #009dff;
    text-transform: uppercase;
    border-bottom: 3px solid #0080ff;/*bordure par au titre*/
}

#forma-gauche p {
    margin-bottom: 37px;
}

.titre {
    font-weight: bold;
    font-size: 20px;
}

.sec-droite-com {
    margin-left: 500px;
    margin-top: 37px;
}

img {
    max-width: 100%;
    height: auto;
}