body {
    height: 100vh;
    background-image: url("https://images3.alphacoders.com/570/thumb-1920-570388.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
}
div.menu {
    float: left;
    height:115%;
    width:10%;
    background-color: rgba(253, 253, 253, 0.164);
    text-align: center;
    font-size: xx-large;
}
p {
    color: #ffffff;
    font-size: large;
}
h1 {
    color: #ffffff;
    text-align: center;
    margin:0;
}
.logo {
    width:125px;
}
.esl {
    width:125px;
}
.armes {
    width:125px;
}
.antitero {
    width:135px;

}
.tero {
    width: 135px;
}
.CV{
    width:125px;
}
.cartes{
    width:130px;
}
.zoomarmes{
    height:60px;
    margin:auto;
}
.zoomarmes img:hover{
    width:130px;
}
.zoomequipe {
    height:325px;
    margin:auto;
}
.zoomequipe img:hover{
    width:140px;
    height:140px;
}
.zoomcartes{
    height:170px;
    margin:auto;
}
.zoomcartes img:hover{
    width:140px;
}
.zoomesport{
    height:90px;
    margin:auto;
}
.zoomesport img:hover{
    width:130px;
}
.zoomcv{
    height:20px;
    margin:auto;
}
.zoomcv img:hover{
    width:130px;
}
.page{
    height:600%;
    top:115%;
    background: radial-gradient(rgb(71, 71, 71),black);
    position: relative;
    font-family : 'Source sans Pro',Tahoma, sans-serif;
    padding:40px;
    text-align:center;
}
h2{
    text-decoration : underline;
}
.rank{
    width:500px;
}
.matchamort{
    width:700px;
}
.wingman{
    width:700px;
}
.dangerzone{
    width:700px;
}
.rankzonedanger{
    width:700px;
}