body {
    height: 100vh;
    background-image: url("https://images3.alphacoders.com/570/thumb-1920-570388.jpg");
    /*ajouter un fond d'écran*/
    background-size: auto;
    background-position: cover;
    /*Centre le fond d'écran*/
    background-repeat: no-repeat;
    /*l'image en fond d'écran ne répéte pas plusieurs pour combler*/
    margin: 0;
    /*aucune marge*/
}

div.menu {
    /*css menu*/
    height: 115%;/*taille d'image*/
    width: 10%;/*largeur d'image*/
    background-color: rgba(253, 253, 253, 0.164);/*couleur du fond du menu*/
    text-align: center;
    font-size: xx-large;
}

p {
    color: #ffffff;
    font-size: large;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.logo {
    width: 125px;
}

.esl {
    width: 125px;
}

.armes {
    width: 125px;
}

.antitero {
    width: 135px;

}

.tero {
    width: 135px;
}

.CV {
    width: 125px;
}

.cartes {
    width: 130px;
}

.zoomarmes {
    height: 60px;
    margin: auto;
}

.zoomarmes img:hover {
    width: 130px;
}

.zoomequipe {
    height: 325px;
    margin: auto;
}

.zoomequipe img:hover {
    width: 140px;
    height: 140px;
}

.zoomcartes {
    height: 170px;
    margin: auto;
}

.zoomcartes img:hover {
    width: 140px;
}

.zoomesport {
    height: 90px;
    margin: auto;
}

.zoomesport img:hover {
    width: 130px;
}

.zoomcv {
    height: 20px;
    margin: auto;
}

.zoomcv img:hover {
    width: 130px;
}

.page {
    background: radial-gradient(rgb(71, 71, 71), black);/*couleur et dégrader du fond d'écran*/
    position: relative;
    font-family: 'Source sans Pro', Tahoma, sans-serif;/*police d'écriture*/
    padding: 40px;
    text-align: center;
}

h2 {
    text-decoration: underline;/*sousligner*/
}

.rank {
    width: 500px;
}

.matchamort {
    width: 700px;
}

.wingman {
    width: 700px;
}

.dangerzone {
    width: 700px;
}

.rankzonedanger {
    width: 700px;
}

img {/*toute les images*/
    max-width: 100%;
    height: auto;
}

iframe {/*la vidéo*/
    max-width: 100%;
}